<h1><center>Dashboard</center></h1><hr>

<h2>
  <center>
    <%= link_to 'Students', students_path %> <br>
    <%= link_to 'Colleges', colleges_path %> <br>
    <%= link_to 'View Enrollment Status', enrollment_path %> <br>
    <%= link_to 'Search College', colleges_search_path %> <br>
  </center>
</h2>