<h1><center>College Details Page</center></h1><hr>
<div align="center">
  Student_id : <%= @college.name %> <br>
  Established Year : <%= @college.established_year %> <br>
</div>
<hr>
<%= link_to 'Go Back', colleges_path %>